<div class="card">
  <div class="card-image-wrapper">
    <!-- <img class="card-img-top" src="\assets\Images\PngItem_590295.png"> -->
    <img class="card-img-top" *ngIf="!propertycard.Image" src="\assets\Images\Default_House1.png">
    <img class="card-img-top" *ngIf="propertycard.Image" src="\assets\Images\{{propertycard.Image}}.jpg">

    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{propertycard.Id}}"><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="far fa-address-book"></i></button>
      </li>
    </ul>

  </div>
  <div class="card-body p-2">
    <h2>{{propertycard.Name}}</h2>
    <h4>{{propertycard.Type}}</h4>
    <h5>{{propertycard.Price}}</h5>
  </div>
</div>

